# COPY TO .env

TRAEFIK_COMMON_NETWORK=common

ID_HOST=id.example.com
ID_PUBLIC_URL=https://id.example.com
APP_PUBLIC_URL=https://id.example.com
GALLERY_PUBLIC_URL=https://gallery.example.com

SESSION=id_session
SESSION_TABLE=id_session
SESSION_SECRET=change_me_to_long_random_secret

PG_USER=postgres
PG_PASSWORD=password
PG_HOST=gallery-postgres
PG_PORT=5432
PG_DATABASE=gallery

AUTH_TICKET_TTL_SECONDS=120

YANDEX_CLIENT_ID=123
YANDEX_CLIENT_SECRET=secret
YANDEX_REDIRECT_URI=https://id.example.com/api/yandex/callback

TG_BOT_TOKEN=1234567890:bla_Bla_BLa12
TG_BOT_USERNAME=yourTgBot
TG_CHAT_ID=-100123
